@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;


}

.announcement {
  width: 100%;
  height: 40px;
  background-color: #08987d;
  color: #FFFFFF;
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
  padding-top: 8px;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: white;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  background-color: #16b7d0;
  height: 3px;
  width: 25px;
  margin: 3px 0;
}

nav .logo img {
  height: 32px;
  padding-right: 30px;
}

ul.menu {
  display: flex;
  list-style: none;
}

ul.menu li {
  margin: 0 5px;
}

ul.menu li a {
  color: rgb(11, 191, 214);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

ul.menu li a:hover {
  color: #0af7f7f5;
  background: #fff;
}


@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  ul.menu {
    display: none;
    position: absolute;
    top: 120px;
    background: rgb(8, 152, 125);
    height: 110vh;
    width: 100%;
    text-align: center;
    z-index: 1;

  }

  ul.menu.active {
    display: block;
  }

  ul.menu li {
    width: 100%;
    margin: 40px 0;
  }

  ul.menu li a {
    color: black;
    width: 100%;
    margin-left: 0;
    display: block;
    font-size: 15px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  ul.menu li a:hover {
    background: none;
    color: rgb(229, 237, 237);
  }
}

#hero {
  display: flex;
  align-items: center;
  background-color: white;
  margin: auto;
  width: 80%;
  padding-top: 0px;
  height: auto;
  text-align: center;
  flex-direction: column;
}

#hero h5 {
  font-size: 73px;
  padding-top: 40px;
  margin-bottom: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  color: rgb(33, 51, 115);
}

#hero p {
  font-size: 3em;
  color: rgb(0, 0, 0);
  margin-bottom: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  text-align: center;
  width: inherit;
}

#hero h6 {
  padding-top: 5px;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}


.cta-button {
  text-align: center;
  font-size: 20px;
  display: inline-block;
  background-color: rgb(0, 188, 212);
  color: #fff;
  font-weight: lighter;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #2b8aaa
}

.company-logo {
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}

.company-logo a {
  padding: 30px;

}

.hero-three {
  margin: 3em;
  align-items: baseline;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.three-first {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.img-one img {
  width: 10vw;
}


.three-first h3 {
  font-size: 1.5em;
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  text-align: center;
}

.three-first p {
  padding: 10px;
  font-size: 1.35em;
  text-align: center;
  width: 20em;
  margin: 25px;
  font-weight: lighter;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* max-width: 400px; */
}

.head {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  padding-top: 60px;
}

.right-sec {
  max-width: 400px;
  gap: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
}

.right-sec h2 {
  text-align: center;
}

.left-sec {
  display: flex;
}

.container-2 {
  display: flex;
  justify-content: center;
  gap: 90px;
  padding-top: 60px;
}

.right-sec-sec img {
  width: 35vw
}

.left-sec-sec {
  max-width: 400px;
  gap: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
}

.container-3,
.container-5,
.container-7 {
  display: flex;
  justify-content: center;
  gap: 90px;
  padding-top: 60px;
}

.left-sec-sec-c,
.left-sec-sec-e,
.left-sec-sec-g {
  max-width: 400px;
  gap: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
}

.right-sec-sec-c img,
.right-sec-sec-e img,
.right-sec-sec-g img {
  width: 35vw
}

.container-4,
.container-6 {
  display: flex;
  justify-content: center;
  gap: 90px;
  padding-top: 60px;
}

.right-sec-sec-d img,
.right-sec-sec-f img {
  width: 35vw
}

.left-sec-sec-d,
.left-sec-sec-f {
  max-width: 400px;
  gap: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
}

.container-8 {
  background-color: aliceblue;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.top-head-sec {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
}

.bottom-con-sec {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  padding: 30px 30px 30px 30px;
}

.card {
  position: relative;
  height: 150px;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.6s;
  width: 315px;

}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.7s;
}

.card-overlay {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: top 0.7s;

}

.card:hover .card-overlay {
  top: 0;
}

.card-overlay h3 {
  font-size: 18px;
  margin-bottom: 10px;
  align-content: center;
}

.card-overlay p {
  font-size: 12px;
  align-content: center;
}

.container-9 {
  align-items: baseline;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.first-c {
  margin-top: 40px;
}

.first-c h5 {
  font-size: 44px;
  padding-top: 40px;
  margin-bottom: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  color: #213373;
}

.first-c p {
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  margin-bottom: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  width: inherit;
}

.first-c h6 {
  padding-top: 5px;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

.second-c {
  padding-top: 45px;
  margin-top: 40px;
}

.second-c h5 {
  color: #213373;
  font-size: 28px;
  padding-top: 20px;
  font-weight: 400;
  font-weight: lighter;
}

.second-c ul {
  line-height: 31px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-top: 10px;
  font-weight: 300;
  color: rgb(131, 131, 131);
}


.cta-button1 {
  text-align: center;
  font-size: 20px;
  display: inline-block;
  background-color: rgb(50, 205, 50);
  color: #fff;
  font-weight: lighter;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.cta-button1:hover {
  background-color: #1e915b
}

.mm-footer {
  display: flex;
  flex-direction: row;
  margin-top: 55px;
  padding-top: 40px;
  background-color: rgb(109, 108, 108);
  color: #fff;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.ftn img{
  height:6vh;
width:15vw;
}
.ftn, .ftn-1, .ftn-2 li{
list-style-type:none;
}

.ftn-1, .ftn-2 {
  display: flex;
  flex-direction: row;
}

.ftn-1-1{
  margin-right: 25px;
}
.ftn-1-2, .ftn-2-2 {
  margin-left: 30px;
}
.ftn-2-1 {
  margin-right: 30px;
}



@media screen and (max-width: 768px) {

  .container,
  .container-3,
  .container-5,
  .container-7 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container-2,
  .container-4,
  .container-6 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container-8 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .top-head-sec {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
  }

  .container-9 {
    align-items: baseline;
    display: flex;
    flex-direction: column;
  }

  .second-c {
    padding:10px;
    margin:10px;
  }

  .second-c ul{
    padding-left:30px;
  }


  .head {
    text-align: center;
  }

  .left-sec img {
    width: 100vw;
  }

  .right-sec-sec img,
  .right-sec-sec-c img,
  .right-sec-sec-d img,
  .right-sec-sec-e img,
  .right-sec-sec-f img,
  .right-sec-sec-g img {
    width: 90vw;
  }

  .bottom-con-sec {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin: 10px;
  }

  .mm-footer {
    padding-left:20px;
    display: flex;
    flex-direction: column;
  }

  .ftn {
    margin-bottom: 20px;
  }

  .ftn-1, .ftn-2 {
    margin-bottom: 20px;
  }

  .ftn img {
    width:50vw;
    height:8vh;
  }

}

@media screen and (min-width:100px) and (max-width:900px) {
  .company-logo a {
    display: none;
  }

  .img-one img {
    width: 20vw;

  }


}

@media screen and (max-width:1400px) {
  .hero-three {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

}

@media screen and (max-width:400px) {
  .three-first p {
    padding: 0px;
    font-size: 1.35em;
    text-align: center;
    width: 16em;
    margin: 25px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .img-one img {
    width: 30vw;

  }

}